
body{
    font-family: "Lato", sans-serif;
    font-weight:500;
    font-style:normal;
    line-height: 1rem;
  }

#df_cover {
    display: flex;
    flex-direction: column;
    width: 19rem;
    align-content: center;
    align-items: start;
    margin: 0px auto;
  }
  #df_cover form > * {
    display: flex;
    flex-direction: column;
    margin: .5rem;
  }